<html>
<body>
<h1 align="center">Register</h1>
<form action="insert()" method="post">
<table border="2" align="center" id="table1">
<tbody><tr><th>Name:</th>
<td><input type="text" name="name" autofocus="" required=""></td></tr>
<tr><th>Email:</th>
<td><input type="text" name="mail" required=""></td></tr>
<tr><th>Mobile No.:</th>
<td><input type="number" name="number" maxlength="10" required=""></td></tr>
<tr><th>Members:</th>
<td><input type="number" name="member" required=""></td></tr>
<tr><th align="center" colspan="2"><input type="submit" value="Submit" on-click="insert(_name, _mail, _number, _member)"></th></tr>
</tbody></table></form>
</body>
</html>